%head
  %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  %script(src="js/app.js")
%body
  %h3 Calculator
  %h4= Time.now

  %label(for="expression") Input your expression, please.
  %br
  %input(type="text" id="expression" name="expression" value="#{@expression}")
  %br
  %br
  %input(type="submit" id="calc")

  #result